.Modal {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: ( 0,0,0,0.5);
    backdrop-filter:blur(2px);
}